/* CSS for AudioXBlock */

.audio_block .count {
    font-weight: bold;
}

.audio_block p {
    cursor: pointer;
}
.pointer {
    cursor: pointer;
}



* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.row {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.audio-img img {
    width: 100%;
    height: auto;
    display: block;
}
.progress-bar {
    height: 6px;
    position: relative;
    overflow: hidden;
    border-top: 1px solid #292d30;
}
#play-bar {
    position: absolute;
    left:0;
    top:0;
    height: 5px;
    z-index: 9;
    vertical-align: top;
}
.canvas-bar {
    height: 5px;
    width: 100%;
    line-height: 0;
    font-size: 0;
    vertical-align: top;
}
.audio-bar {
    background: #282C2F;
    height: 32px;
    padding: 8px 10px;
}
.audio-bar:after {
    display: block;
    clear: both;
    content: "";
}
.play-btn-holder {
    float: left;
    width: 40px;
}
.play {
    padding: 0;
    width: 16px;
    height: 0;
    background: none;
    border: none;
    float: left;
    margin: 0 0 0 15px;
    border-top: 8px solid transparent;
    border-left: 12px solid #fff;
    border-bottom: 8px solid transparent;
}
.pause {
    padding: 0;
    background: none;
    border:none;
    float: left;
    margin: 0 0 0 15px;
    width: 14px;
    height: 16px;
    border-right: 4px solid #fff;
    border-left: 4px solid #fff;
}
#timer {
    float: left;
    font-size: 12px;
    line-height:16px;
    color: #fff;
    margin: 0 0 0 20px;
}
.audio-bar-right {
    float: right;
}
.speed-holder {
    float: left;
    width: 105px;
    padding: 0 0 0 20px;
    position: relative;
}
.speed-holder:after {
    position: absolute;
    left:0;
    top:-8px;
    bottom: -8px;
    content: "";
    border-left: 1px solid #363C3F;
}
.speed-holder .value {
    color: #ffffff;
    display: block;
    font-size: 12px;
    line-height:16px;
    position: relative;
    padding: 0 0 0 10px;
}
.speed-holder .value:after {
    position: absolute;
    left: 0;
    top: 4px;
    content: "";
    border-top: 4px solid transparent;
    border-left: 6px solid #fff;
    border-bottom: 4px solid transparent;
}
.speed-list {
    list-style: none;
    margin: 0;
    padding: 0 0 9px;
    position: absolute;
    left: 0;
    bottom:100%;
    z-index: 999;
    width: 100%;
    background: #000;
}
.speed-list li {
    color: #fff;
    padding: 5px;
    font-size: 12px;
    line-height:16px;
    color: #fff;
}
.speed-list li:hover {
    background: #333333;
}
.volume-holder {
    float: left;
    margin: 0 15px 0 0;
    position: relative;
}
.volume-holder .icon-volume{
    width: 16px;
    display: block;
}
.volume-holder .icon-volume img{
    width: 100%;
    height: auto;
    display: block;
}
.volume-control {
    position: absolute;
    width: 50px;
    transform: rotate(-90deg);
    z-index: 999;
    left: -19px;
    top: -34px;
}



input[type=range].slider {
  -webkit-appearance: none;
  width: 100%;
  margin: 0;
    position: relative;
}
input[type=range].slider:focus {
  outline: none;
}
input[type=range].slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background:#CD578D;

}
input[type=range].slider::-webkit-slider-thumb {
  height: 5px;
  width: 10px;
  background: white;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 0px;
}
input[type=range].slider:focus::-webkit-slider-runnable-track {
  background: #CD578D;
}
input[type=range].slider::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: #CD578D;
}
input[type=range].slider::-moz-range-thumb {
  height: 10px;
  width: 5px;
  background: white;
  cursor: pointer;
}
input[type=range].slider::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].slider::-ms-fill-lower {
    background: #CD578D;
}
input[type=range].slider::-ms-fill-upper {
  background: #CD578D;
}
input[type=range].slider::-ms-thumb {
  width: 5px;
    background: #CD578D;
  cursor: pointer;
  height: 5px;
}
input[type=range].slider:focus::-ms-fill-lower {
  background: white;
}
input[type=range].slider:focus::-ms-fill-upper {
  background: white;
}
.seekbar-style {
    z-index: 99;
    position: absolute !important;

    top:0;
    height: 5px;
    background: none;
    border:none;
}
.seekbar-style * {
  border:none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}
input[type=range].seekbar-style.slider::-webkit-slider-runnable-track {
    background: none !important;
}
input[type=range].seekbar-style.slider:focus::-webkit-slider-runnable-track {
  background: none !important
}
input[type=range].seekbar-style.slider::-moz-range-track {
  background: none !important
}
input[type=range].seekbar-style.slider::-ms-fill-lower {
    background: none !important
}
input[type=range].seekbar-style.slider::-ms-fill-upper {
  background: none !important
}
input[type=range].seekbar-style.slider::-ms-thumb {
    background: none !important
}
input[type=range].seekbar-style.slider::-webkit-slider-thumb {
  width: 10px;
  background: #fff;
}
input[type=range].seekbar-style.slider::-moz-range-thumb {
  width: 10px;
  background: #fff;
}
input[type=range].seekbar-style.slider:focus::-ms-fill-lower {
  background: #fff;
}
input[type=range].seekbar-style.slider:focus::-ms-fill-upper {
  background: #fff;
}

.download-links a{
    margin-right: 15px;
}























